* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: #0A043C;
    display: flex;
    flex-direction: column;
}

.header, a {
    text-align: center;
    /*border: solid 3px black;*/
    background-color: #0A043C;
    color: #FFE3D8;
    cursor: default;
    text-decoration: none;
}

.header{
    padding: 1rem;
    font-size: 4rem;
}

.content {
    /*border: solid 3px black;*/
    display: flex;
    flex-direction: column;
    background-color: #0A043C;
}

#subject-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    background-color: #03506F;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
    padding: 10rem;
    border-radius: 10px;
}

li {
    /*border: solid 3px black;*/
    border-radius: 15px;
    width: max-content;
    width: fit-content;
    font-size: 1.5rem;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BBBBBB;
    cursor: default;
    color: black;
    transition: ease-out 0.3s;
    padding: 10px;
    font-weight: 700;
    overflow: hidden;
}

li:hover {
    background-color: whitesmoke;
    color: #150050;
    transform: scale(1.1);
    box-shadow: 0px 10px 10px #150050;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.footer{
    background-color: #0A043C;
    color: #FFE3D8;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
  }

  @media (max-width: 1000px) {
    .header {
        width: 100%;
    }

    #subject-list {
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 1.5rem;
        width: 90%;
    }
}